*{
     box-sizing: border-box;
     margin: 0;
}

html{
     background: linear-gradient(blue, gray, brown,blue); /* Standard syntax (must be last) */
     min-height: 100%;
}


body{
     background-color: white;
     width: 750px;
     height: auto;
     margin: auto;
}

.container{
     width: 700px;
     background: yellow;
}

.col-1-4{
     width: 25%;
     display: inline-block;
     vertical-align: top
}

.col-3-4{
     display: inline-bloc;
     width: 75%;
     margin: 0;
}

.col-1-3{
     width: 33.33%;
}
.col-2-3{
    width: 66.66%;
}
.col-3-3{
     width: 100%;
}
.col-1-3, .col-2-3, .col-3-3, .col-1-4, .col-3-4{
     display: inline-block;
     border-spacing: 0;
     margin: 0;
     padding: 0;
     float: left;
     vertical-align:top
}

.col-1-5{
     width: 20%;
     display: inline-block;
}

.bottom{
     vertical-align:text-bottom;
}


/*=========Typography=========*/
a{
     color:whitesmok;
     text-decoration: none;
}

.combined{
     background-color: darkblue;
     color:;
     height: 100%;
}





/*=======Style left=========*/
.logo{
     text-align: center;
}
.logo img{
     text-align: center;
     width: 30px;
}

.left{
     background-color: dimgra;
     height: 100%;
}


/*=======Style Right=========*/
.right{
     background-color: white;
     min-height: 100%;
}
.image{
     box-sizing: border-box;
     padding: 3px
}
.image:hover{
     background-color: gainsboro;
     opacity: 0.5;
}

.gallery img{
     width: 100%;
     height: auto;
}
.gallery .name{
     
}
.gallery .size{
     color: darkgray;
}


